*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

html{
    scroll-behavior: smooth;
}

h1{font-size: 3.5em;}
h2{font-size: 2.7em;}
h3{font-size: 2.0em;}
h4{font-size: 1.7em;}
h5{font-size: 2.0em;}
p{font-size: 1.25em;}
.color-acento{ color: blueviolet;}

.contenedor{
    max-width: 1400px;
    margin: auto;
    background-color: rgb(240, 240, 240);
}

header .logo{
    text-align: center;
    padding: 50px 30px;
    font-weight: bold;
    color: blueviolet;
    font-size: 3em;
}

header nav{
    display: none;
}

#inicio {
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,.4),rgba(0,0,0,.5)
    ) ,url("css/img/inicio.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#inicio h1{
    font-size: 6em;
}

#inicio h4{
    font-size: 2.5em;
}

#ipac h2{
    font-size: 4em;
}

#ipac p{
    font-size: 2em;
    padding-top: 50px;
}

#ipac .contenedor{
    background-color: burlywood;
    height: 60vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 2vh;
}

#caracteristicas{
    text-align: center;
    color: aliceblue;
}

#caracteristicas .contenedor{
    background-color: rgb(30, 30, 30);
    text-align: center;
    padding: 150px 12px;
}

#caracteristicas h2{
    margin-top: 0;
    margin-bottom: 70px;
    font-size: 4em;
}

#caracteristicas h3{
    margin-bottom: 20px;
    font-size: 3em;
}

#caracteristicas p{
    display: none;
}

#caracteristicas .carta{
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
}

.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,.4),rgba(0,0,0,.5)
    ) ,url("css/img/ingenieria.jpg");
}

.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,.4),rgba(0,0,0,.5)
    ) ,url("css/img/acero.jpg");
}

.carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,.4),rgba(0,0,0,.5)
    ) ,url("css/img/chatarreria.jpg");
}

#caracteristicas button{
    font-size: 1.7em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 15px;
    border: 0.5px solid rgb(94, 94, 94);
    color: white;
    background-color: rgba(30,30,30);
    transition: all 300ms ease;
    cursor: pointer;
}

#contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5em 2em;
}

.contenedor-form{
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
}

.contenedor-form h5{
    margin-top: 25px;
    font-size: 4em;
    margin: 15px;
    text-align: center;
}

.contenedor-form p{
    font-size: 1.5em;
    line-height: 1.7;
    margin: 15px;
}

.contenedor-form a{
    font-size: 1.5em;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    margin-bottom: 1em;
    color: black;
    font-weight: 700;
    transition: all 300ms ease;
}

.contenedor-form a:hover{
    color: blueviolet;
}

.contenedor-form a i{
    color: blueviolet;
    margin-right: 1.5em;
}

.info-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 2em;
}

.contenedor-form form{
    background-color: rgb(230, 230, 230);
    padding: 50px 20px;
    border: 1px solid rgb(210, 210, 210);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.contenedor-form form .campo, textarea{
    width: 100%;
    padding: 15px 10px;
    font-size: 15px;
    border: 1px solid #dbdbdb;
    margin-bottom: 20px;
    border-radius: 3px;
    outline: 0px;
}

.contenedor-form .campo{
    max-width: 35.5vh;
    min-width: 35.5vh;
}

.contenedor-form form textarea{
    max-width: 35.5vh;
    min-width: 35.5vh;
    min-height: 10.5vh;
    max-height: 10.5vh;
}

.contenedor-form .btn-enviar{
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: 0px;
    background: rgb(230, 230, 230);
    color: black;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms ease;
    font-weight: bold;
    max-width: 35.5vh;
    min-width: 35.5vh;
    }

.contenedor-form .btn-enviar:hover{
    background: blueviolet;
    border: 1px solid blueviolet;
    color: white;
    
}

footer{
    background-color: rgb(230, 230, 230);
}

footer p{
    font-size: 1.7vh;
    margin: 0.5em;
    color: rgb(100, 100, 100);
    text-align: center;
    line-height: 1.7;
}

footer .contenedor{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: flex-top;
}


        color: white;
    }
}
